.main-wrapper 
{
	margin: 0 auto;
	width: 1080px;
}

a
{
	text-decoration: none;
}

body
{
	background-color: #ccc;
	background: url(ZESA.webp);
	background-size: 100%;
}

header nav
{
	width: 100%;
	height: 60px;
	background-color: #fff;
}

header nav ul
{
	float: left;
}

header nav ul li
{
	float: left;
	list-style: none; 
}

header nav ul li a
{
	font-family: arial;
	font-size: 16px; 
	color: #111;
	line-height: 63px; 
}

header .nav-login
{
	float: right;
}

header .nav-login form
{
	float: left;
	padding-top: 15px;

}

header .nav-login form input
{
	float: left;
	width: 140px;
	height: 30px;
	padding: 0px;
	margin-right: 10px;
	border: none;
	background-color: #f3f3f3;
	font-family: arial;
	font-size: 16px; 
	color: #111;
	cursor: pointer;
}

header .nav-login form input button: hover
{
	background-color: #ccc;
}	

header .nav-login a
{	
	display: block;
	width: 60px;
	height: 60px;
	border: none;
	float: left;
	background-color: #fff;
	font-family: arial;
	font-size: 16px; 
	color: #111;
	line-height: 63px;
	cursor: pointer; 
}

.main-container
{
	padding-top: 40px;

}

.main-container h2
{
	font-family: arial;
	font-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center; 
}

.main-container h1
{
	font-family: arial;
	font-size: 24px;
	color: #111;
	text-align: center; 
}

.signup-form
{
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;

}

.signup-form input
{
	width: 90%;
	height: 40px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px; 
	color: #111;
	line-height: 40px;
}

.signup-form button
{
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	background-color: #222;
	font-family: arial;
	font-size: 16px; 
	color: #fff;
	cursor: pointer;
}

.signup-form button: hover
{
	background-color: #111;
}